src/main/mule/coderPad.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e33a75c-6bb4-4eb9-93d2-3b70a716cea8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="b34bc6fd-57cf-47ff-84be-75491463a788" />
	<flow name="coderPadRead" doc:id="e141f71f-c264-418c-a47d-edee63774654" >
		<http:listener doc:name="Read File" doc:id="682ba742-1231-4488-82b0-89c2e7acabff" config-ref="HTTP_Listener_config" path="/testread"/>
		<logger level="INFO" doc:name="Start : Log" doc:id="89f4f353-7b4b-4b9a-a2e1-268e9255f459" message="Start log "/>
		<set-variable value="#[attributes.queryParams.fname]" doc:name="fname" doc:id="d4eb8a37-a8d4-41e9-b52c-6fbd0aa4758f" variableName="fname"/>
		<set-variable value="C:\VAISHNAVI BAKADE\MULESOFT\PROJECT DIRECTORY\CODERFILE\" doc:name="fpath" doc:id="a63846f3-64f6-4fa0-b08c-b4bb427cd03c" variableName="fpath"/>
		<file:read doc:id="e0de1921-8ef0-4a12-86c4-b63e9e7f6762" config-ref="File_Config" path="#[vars.fpath ++ vars.fname]" outputMimeType="application/csv"/>
		<ee:transform doc:name="Read to base64" doc:id="fc38f262-80d2-42d4-8df9-00b4acc3bdf4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json
---
{
	"Payload" : toBase64(write(payload))
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End: Log" doc:id="dd82ef54-4490-49a0-b5b5-aae7d36cd757" message="End Log"/>
	</flow>
	<flow name="coderPadWrite" doc:id="29a3a397-ffaf-4920-802e-8292e4edf23c" >
		<http:listener doc:name="Write File" doc:id="6604a726-2c5f-43c6-a84f-c26693052fa0" config-ref="HTTP_Listener_config" path="/testwrite" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Start: Log" doc:id="8af56771-b0b4-4dd8-9fc7-bf91af232bfe" message="Start Log" />
		<set-variable value="#[attributes.queryParams.fname]" doc:name="fname" doc:id="af38acd2-8489-4647-8dca-bd15d3375b9b" variableName="fname" />
		<set-variable value="C:\VAISHNAVI BAKADE\MULESOFT\PROJECT DIRECTORY\CODERFILE\" doc:name="fpath" doc:id="0748509c-4540-48fe-9f31-9576ed35d1a3" variableName="fpath" />
		<file:write doc:name="Write" doc:id="98fa084c-3b06-4ef6-b40f-337724e677bb" path="#[vars.fpath ++ vars.fname]" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="cb1020d2-9ac3-496c-b307-ca67ac8dd0a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "file created successfully."
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End: Log" doc:id="afd2ae4b-12e5-4086-8636-a7a038426767" message="End Log" />
	</flow>
	<flow name="coderPadCopy" doc:id="048e8526-d9ef-48c2-ae5e-b06749151829" >
		<http:listener doc:name="Copy File" doc:id="c1925088-7d74-446b-8135-ba3ef4075125" config-ref="HTTP_Listener_config" path="/testcopy" />
		<logger level="INFO" doc:name="Start: Log" doc:id="ec6209d4-569e-4c2e-8538-f7ad140c7b6c" message="Start Log" />
		<set-variable doc:name="fname" doc:id="be0552db-f746-4f3e-a2c4-a98b69285f50" variableName="fname" value="#[attributes.queryParams.fname]"/>
		<set-variable value="C:\VAISHNAVI BAKADE\MULESOFT\PROJECT DIRECTORY\CODERFILE\" doc:name="fpath" doc:id="198c6cf9-30a4-4167-af14-a6feeb417b74" variableName="fpath" />
		<set-variable value="copy" doc:name="Set Variable" doc:id="ee0f5f45-4c59-4382-b9f1-7f213a1d7187" variableName="copy"/>
		<file:copy doc:name="Copy" doc:id="f12dacb3-56c3-42b4-8cea-aebb93046475" sourcePath="#[vars.fpath ++ vars.fname]" targetPath="C:\VAISHNAVI BAKADE\MULESOFT\PROJECT DIRECTORY\CODERFILE\duplicatefiles" config-ref="File_Config" renameTo="#[vars.fname ++ vars.copy]"/>
		<ee:transform doc:name="Transform Message" doc:id="319b4a47-5a00-4214-827b-54b3bd89efc4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "file copied successfully."
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End: Log" doc:id="664b9f8f-2043-41ae-a11f-3f4cebf509ad" message="End Log" />
	</flow>
</mule>
